$padding-right: 24px;
$main-color: #1ab5b3;
$main-color_rgb: rgb(26,181,179);
$main-bg: #b4b7b8;
$text: #a3a3a3;
$border: solid 1px #eaeaea;
$list-grey: #848484;
@mixin rounded-icon($diam) {
	.rounded-icon{
		text-align: center;
		width:$diam;
		height:$diam;
		line-height: $diam;
		border: 1px solid $main-color;
		border-radius: 50%;
		color: $main-color;
		font-size: 10pt;
		display:inline-block;
	}
}
@mixin btn-round($diam){
	.btn-round{
    	line-height: $diam;
		text-align:center;
		width: $diam;
		height: $diam;
		border-radius: 50%;
		border: 1px solid #fff;
		a{
			color:#fff;
		}
	}
}