@import '../vars';
.container{
	.card{
		position:relative;
		float: left;
		display: block;
		width: 25%;
		z-index: 2;
		img{
			display:block;
			width:100%;
			height:100%;
		}
		.more.round{
			border-radius: 25%;
			transform-origin: 50% 50%;
			transform: scale(0);
		}
		.more{
			color:#fff;
			position:absolute;
			top:0;
			left:0;
			width:100%;
			height: 100%;
			max-height: 100%;
			text-align:center;
			opacity:0.3;
			background-color: rgba($main-color_rgb, 0.9);
			transform: rotateX(-90deg) rotateY(-90deg);
			transform-origin: 0 0;
			transition:ease-in 0.5s;
			h2{
				margin-top:20%;
				line-height:30px;
			}
			hr{
				width:100px;
				border: none;
				height:1px;
				background-color:#fff;
				margin-top:10px;
				margin-bottom: 10px;
			}
			p{
				font-size:8pt;
			}
		}
	}
	.card:hover .more{

		transform-origin: 50% 50%;
		border-radius: 0;
		transform: rotateX(0) rotateY(0);
		transition:ease-in 0.2s;
		opacity:1;
	}
	.card:hover .round{
		transform: scale(1);
	}
}