@import '../vars';
@import 'slider';
.content.blog{
    -moz-column-width: 294px;
    -webkit-column-width: 294px;
	column-width: 294px;
    column-gap: 25px;
	height: 100%;
	margin: 0;
	background: none;
	padding:  25px 0 25px 25px;
	.card{
		display: inline-block;
		margin:0;
		margin: 0 2px 15px;
		width:  calc(100% - 50px); 
		background:  #fff;
		-webkit-column-break-inside: avoid;
				  page-break-inside: avoid;
					   break-inside: avoid;
		.slider{
			height:250px;
		}
		.body{
			padding:25px;
			padding-bottom: 0;
			h3{
				font-weight: 500;
			}
			p{
				font-size: 1em;
			}
		}
		.bottom{
			padding:25px;
			border-top: $border;
			div{
				font-size:0.9em;
				color:$text;
				display:inline-block;
				margin-right: 5px;
				i{
					margin-right: 5px;
				}
				a{
					color:$text;
				}
			}
		}
	}
	.card.link{
		background-color: $main-color;
		text-align: center;
		p{
			color:#fff;
		}
		a{
			font-style: italic;
			font-weight: 600;
			text-decoration: underline;
		}
	}
}