@import '../vars.scss';
a{
	display:block;
	text-decoration: none;
}
html{
	height: 100%;
}
body{
	height: 100%;
	font-family: 'Roboto';	
	font-weight:300;
}
.clearfix{
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.container{
	padding-left: 300px;
	width: calc(100% - 300px);
	height:100%;
}
.bg{
	background-color: $main-bg;
	display:inline-block;
	width: 100%;	
}
.content{
	background-color: #fff;
	margin: 25px;
	display:inline-block;
	h2 {
        font-size: 19pt;
        line-height: 2.5;
    }
    hr {
        height: 1px;
        width: 100%;
        background-color: #e5e5e5;
        border: none;
    }
    p {
        padding-bottom: 13px;
        line-height: 1.5;
        color: #a3a3a3;
        font-size: 14pt;
    }
    .left{
		float:left;
	}
	.right{
		float:right;
	}
}