@import '../vars.scss';
a{
	display:block;
	text-decoration: none;
}
html{
	height: 100%;
}
body{
	height: 100%;
	font-family: 'Roboto';	
	font-weight:300;
}
h1, h2, h3, h4, h5, h6{
	text-transform: capitalize;
}
.list{
	li {
		line-height:1.5;
		color: $list-grey;
		display: block;
	}
}
.clearfix{
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
.container{
	padding-left: 300px;
	width: calc(100% - 300px);
	height:100%;
}
.bg{
	background-color: $main-bg;
	display:inline-block;
	width: 100%;
	min-height: 100%;
	position: relative;
}
.content{
	background-color: #fff;
	margin: 25px;
	display:inline-block;
	h2 {
        font-size: 19pt;
        line-height: 2.5;
    }
    hr {
        height: 1px;
        width: 100%;
        background-color: #e5e5e5;
        border: none;
    }
    p, span {
        color: $text;
    }
    p{
        padding-bottom: 13px;
        line-height: 1.5;
        font-size: 14pt;
    }
    span{
    	font-size: 0.9em;
    	line-height:1.5;
    }
    .left{
        width: 721px;
		float:left;
	}
	.right{
		float:right;
        width: 712px;
        float: left;
	}
}
.progress{
	height:20px;
	border: $border;
}
.progress-bar{
	height:100%;
	background-color: #e2e2e2;
}